h1 {
    color: green;
    text-align: center;
}

/* div.one {
    margin: 40px;
    text-align: center;
} */

/* button {
    margin: 5px;
    padding: 5px;
    font-size: large;
} */

nav {
    align-content: center;
}