<div class="container">
    
    <nav class="navbar navbar-expand-sm navbar-light   justify-content-center">
        
        <button type="button" class="btn btn-outline-primary " (click)="goToPage('home')">
            <i class="fa fa-home" aria-hidden="true"> </i>
            Home
        </button>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="goToPage('book')">
            <i class="fa fa-book" aria-hidden="true"> </i>
            Books
        </button>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="goToPage('wish_list')">
            <i class="fa fa-heart" aria-hidden="true"> </i>
            Wish List
        </button>
        <form class="d-flex">
            <input class="form-control me-1" style="width: 768px; margin: 5px;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
        
        <!-- <button type="button" class="btn btn-secondary">Secondary</button> -->
        <!-- <button type="button" class="btn btn-success">Success</button> -->
        <!-- <button type="button" class="btn btn-danger">Danger</button> -->
        <!-- <button type="button" class="btn btn-warning">Warning</button> -->
        <!-- <button type="button" class="btn btn-info">Info</button> -->
        <!-- <button type="button" class="btn btn-light">Light</button> -->
        <!-- <button type="button" class="btn btn-dark">Dark</button> -->
        <!-- <button type="button" class="btn btn-link">Link</button> -->
    </nav>
</div>