[class*="col"] {
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}

/* [class*="con"] {
    padding: 1rem;
    background-color: #9e33e5;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
} */

img {
    background-image: url("../../assets/img/old-books.jpg");
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* max-width: 100%; */
    height: auto;
    max-width: 100%;
    /* max-height: 100%; */
    /* background-position:center; */
    border-radius: 30px 30px 0px 0px;

  }